<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>myservlet.Handlelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Searchs</servlet-name>
    <servlet-class>myservlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchs</servlet-name>
    <url-pattern>/Searchs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Searchts</servlet-name>
    <servlet-class>myservlet.Searcht</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchts</servlet-name>
    <url-pattern>/Searchts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Joinclick</servlet-name>
    <servlet-class>myservlet.Join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Joinclick</servlet-name>
    <url-pattern>/Joinclick</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>myservlet.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>myservlet.HandleLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Coursess</servlet-name>
    <servlet-class>myservlet.Courses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coursess</servlet-name>
    <url-pattern>/Coursess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Coursest</servlet-name>
    <servlet-class>myservlet.Courset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coursest</servlet-name>
    <url-pattern>/Coursest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Homework</servlet-name>
    <servlet-class>myservlet.Homeworks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homework</servlet-name>
    <url-pattern>/Homework</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Uploads</servlet-name>
    <servlet-class>myservlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploads</servlet-name>
    <url-pattern>/Uploads</url-pattern>
  </servlet-mapping>
</web-app>