@charset "utf-8";
/* CSS Document */

					* {
						margin: 0px;
						padding: 0px;
					}
					
					.di {
						background: url(../img/yinhe.jpg);
						background-size: cover;
						background-attachment: fixed;
					}
					
					.head {
						position: fixed;
						height: 15%;
						width: 100%;
						z-index: 1;
					}
					
					.contern {
						position: relative;
						top: 100px;
						height: 60%;
						width: 100%;
						margin-bottom: 120px;
					}
					
					.box {
						height: 1000px;
						width: 1220px;
						margin-top:50px;
						margin-left: 60px;
						margin-right: 60px;
						background: transparent;
						margin: 0 auto;
					}
					
					
					
					.img {
						height: 100px;
						width: 100px;
						margin-left: 100px;
					}
					
					.img span b {
						display: inline-block;
						margin-left: 10px;
						color: darkslategray;
						font-size: 20px;
						line-height: 50px;
					}
					
					.box2 {
						height: 80%;
						border-radius: 15px;
						background: darkslateblue;
						padding: 20px;
					}
					
					.foots {
						position: relative;
						height: 15%;
						width: 100%;
						margin-top: 27px;
						margin-bottom: 0px;
					}
					
					.foots p {
						text-align: center;
						margin-bottom: 3px;
						font-family: "微软雅黑";
						color: white;
					}
					
					.span_one {
						color: #FFFFFF;
						font-weight: 500;
						font-size: 35px;
						font-style: "微软雅黑";
						margin-left: 15px;
						margin-top: 30px;
					}
					
					.box_class {
						width: 1050px;
						height: 130px;
						border-style: solid;
						background-color: #FFFFFF;
						border-color: #FFFFFF;
						margin: 0 auto;
						margin-top: 20px;
					}
					
					.img_all {
						width: 150px;
						margin-left: 35px;
						float: left;
						margin-top: 1px;
					}
					
					.button_all {
						display: block;
						float: left;
						padding: 10px;
						margin-left: 20px;
						margin-right: 40px;
						margin-top: 2px;
					}
					
					.img_button1 {
						width: 180px;
						height: 30px;
						font-style: "微软雅黑";
						font-size: 15px;
						background: darkslateblue;
						display: block;
						opacity: 0.8;
					}
					
					.img_button2 {
						width: 180px;
						height: 30px;
						font-style: "微软雅黑";
						font-size: 15px;
						background: darkslateblue;
						display: block;
						margin-top: 20px;
						opacity: 0.8;
					}
					
					.class_one {
						padding-top: 18px;
						margin: 0 auto;
						padding-right: 10px;
					}
					
					.text_area1 {
						margin-right: 20px;
						font-style: "微软雅黑";
						font-size: 16px;
						padding-left: 20px;
					}
					
					.right_one {
						font-style: "黑体";
						font-size: 17px;
						margin-bottom: 3px;
						display: block;
					}
					
					.right_two {
						font-style: "微软雅黑";
						font-size: 13px;
						color: #606060;
						margin-top: 6px;
					}

/*我的css*/
.href_area{
	margin-left: 45%;
	margin-top: -17%;
}
.words{
	margin-left: 44.5%;
	font-size:19px;
	width: 550px;
	color: #999!important;
	padding: 0 5px!important
}
.line{
	margin-top: 13%;
	width: 34%;
	height: 2.5px; 
	background-color: #F3EEEE;
	margin-left: 4%;
}
.lable{
	font-style:"黑体";
	font-size:20px;
	letter-spacing:2px;
	margin-left: 4%;
}
.information{
	margin-top: 2%;
}
.inptt{
	margin-left: 25%;
	margin-top: -2.5%;
	width: 180px;
}
.inptt2{
	margin-left: 25%;
	margin-top: -2%;
	width: 400px;
	font-style:"黑体";
	font-size:18px;
	letter-spacing:2px;
}
.layui-form-item{
	margin-top: 2.3%;
}